<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mx-auto">
        <div class="max-w-sm mx-auto rounded-lg m-4 overflow-hidden shadow-lg">
            <img class="w-full"
            src="https://tailwindcss.com/img/card-top.jpg" />
            <h1 class="text-xl font-bold m-3">The Coldest Sunset</h1>
            <p class="text-sm mx-3 text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.

            </p>

            <div class="m-3"> 
                <a href="#" class="bg-blue-300 mr-2
                text-gray-600 px-2 py-1 rounded-full 
                text-sm font-semi-bold">#photography</a>

                <a href="#" class="bg-blue-300 mr-2
                text-gray-600 px-2 py-1 rounded-full 
                text-sm font-semi-bold">#travel</a>

                <a href="#" class="bg-blue-300 mr-2
                text-gray-600 px-2 py-1 rounded-full 
                text-sm font-semi-bold">#winter</a>
            </div>

            
        </div>
    </div>
</body>
</html>